body{
    background-image: url("../images/concrete-texture.png");
    background-repeat: repeat;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

.content {
    margin-top: 30px;
    align-content: center;
    justify-content: center;
    top: 100px;
    /* left: 13%; */
    background: #ffffff;
    position: relative;
}

.header{    
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: #ffffff;
    border-bottom-width: 2px;
    border-bottom-color: #cccccc;
    border-bottom-style: solid;
}

.navbar{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

li{
    display: inline-block;
    margin: 0 20px;
}

.name{
    width: auto;
    padding: 15px;
    text-align: center;
    background: #4aaaa5;
    color: #ffffff;
    display: inline-block;
}
/* 
.links{
    position: fixed;
    padding: 0;
    margin: 0;
    display: inline-block;
    right: 0;
} */

.links{
    font-size: 20px;
    position: fixed;
    padding: 15px;
    text-align: center;
    margin-left: 375px;
    display: inline;
}